@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#box {
	display: flex;
	flex-wrap: wrap;
}
#box div {
	display: flex;
	flex-direction: column;
}
#box p {
	border-bottom: 1px solid #ccc;
}
input,
#box p {
	font-family: "Open Sans";
	margin: 10px;
	padding: 5px;
}
.white {
	color: #fff;
}
.white .mjx-chtml {
	color: initial;
}
.sign {
	border: none !important;
}
